.takenoteone {
  /* border: 1px solid rgb(188, 180, 180); */
  width: 40px;
  height: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.typenote {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.note001 {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}
.noteicon {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.icon {
  width: 33.33%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.brushicon {
  height: 30px;
  width: 30px;
}
